<div>
    <h1>Lista de productos</h1>
    <ul>
        {{#each data}}
            <li> id:{{id}} producto:{{nombre}}, {{descripcion}} precio:{{precio}} categoria:{{categoria}}</li>
        {{/each}}
    </ul>
</div>